{% extends 'base.html' %} {% load static %} {% block content %}
<section class="header singe-page-header">
    <div class="container singe-page-container">
      <h1 class="page-title h-white">Single Page</h1>
    </div>
  </section>

  <section class="single-page-hero">
    <div class="container singe-page-container">

    </div>
  </section>

  <section class="meta">
    <div class="container singe-page-container">
      <h4 class="author">Alphonse SIBOMANA</h4>
      <div class="pub-date">
        <p><i class="fas fa-calendar-alt"></i> 15/10/2022</p>
      </div>
    </div>
  </section>
  <section class="single-page-content">
    <div class="container singe-page-container">


      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin interdum auctor consequat. Curabitur mattis dui sed
      eros commodo, id sollicitudin mi dapibus. Donec ullamcorper diam ut nisi sollicitudin, id ultrices ex fermentum.
      Praesent molestie velit nibh. Cras ullamcorper, sem at eleifend aliquam, nisl est auctor nisi, eget pellentesque
      nunc sem at erat. Nulla sit amet turpis sit amet ipsum euismod mollis. Aliquam rutrum et lacus id porta. Vivamus
      scelerisque interdum dictum. Integer tellus felis, vehicula tincidunt egestas sit amet, eleifend ac magna.
      Suspendisse viverra malesuada leo, nec sagittis libero scelerisque id.
      <br><br>
      Maecenas id ante quis tortor porta elementum. In hac habitasse platea dictumst. Quisque a nulla id magna ultricies
      suscipit. Ut ut sapien vestibulum, tristique nisl molestie, dignissim turpis. Nam condimentum enim nibh, ut
      iaculis est vehicula ut. Sed bibendum maximus neque, sed dapibus enim vestibulum a. Interdum et malesuada fames ac
      ante ipsum primis in faucibus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus
      mus. In id varius justo. Nullam massa lacus, consequat sed lectus quis, lacinia pharetra lorem. In hac habitasse
      platea dictumst. Sed laoreet vel nibh ac dignissim.
      <br><br>
      Nam odio tellus, semper a orci nec, ullamcorper venenatis leo. Nullam est odio, egestas sed sollicitudin ac,
      tempus in libero. Nulla vitae elit vitae sapien facilisis vulputate non a neque. Maecenas placerat nisl sed
      consectetur varius. Phasellus sagittis ullamcorper mattis. Quisque vulputate ante sit amet ante ullamcorper
      scelerisque. Praesent eu lobortis diam, et pharetra nibh. Praesent sollicitudin est sed arcu iaculis, sit amet
      posuere nunc iaculis.
      <br><br>
      Duis ullamcorper finibus metus eget elementum. Aenean ac ligula eget tortor tempus vulputate aliquet et lacus.
      Cras commodo tortor nec felis blandit lacinia. Donec pharetra consequat vulputate. Fusce mattis mauris vel nunc
      tempus, eget bibendum tellus sagittis. Pellentesque vitae velit augue. Nulla pellentesque tortor ligula,
      condimentum mattis sem molestie at. Quisque vel tristique tellus, a aliquet nulla. Mauris pellentesque consequat
      nibh, id tincidunt ipsum elementum at. Etiam porttitor elementum est, et sagittis velit. Aenean aliquam erat eu
      diam scelerisque, vel suscipit mi ornare. Mauris ac erat interdum, vulputate eros et, cursus felis. Fusce felis
      leo, vestibulum eget lectus a, condimentum consequat odio. Mauris posuere sit amet dui et mollis.
      <br><br>
      Nam odio felis, maximus in vehicula vel, dignissim quis tortor. Ut tincidunt dui in porta consectetur. Vestibulum
      scelerisque augue id quam tempor sollicitudin. Mauris in enim iaculis, mattis magna id, gravida dui. Morbi id urna
      in dolor finibus laoreet ornare non nunc. Ut lobortis volutpat odio. Sed tincidunt mattis lorem in sagittis. Sed
      pellentesque turpis id dolor dictum facilisis. Etiam pulvinar ac eros vehicula ornare. Phasellus quis urna a nisl
      pulvinar viverra. Proin ut finibus erat, vel laoreet ante. Donec suscipit maximus nisl. Donec luctus pellentesque
      rutrum. Duis dolor magna, volutpat quis mauris a, pellentesque commodo nulla.
    </div>
  </section>

  {% endblock %}