{% extends 'base.html' %} {% load static %} {% block content %}
    <section class="header">
      <div class="container">
        <h1 class="page-title h-white">Contact</h1>
      </div>
    </section>

    <section class="contact">
      <div class="container">
        <div class="col-left">
          <h2 class="h-green">Prenez contact avec nous</h2>
          <p>
            Nous nous ferons un Plaisir de vous écouter 
          </p>
          <div class="contact-address">
            <h4>Adresse de contact</h4>
            <ul>
              <li>
                <a href="mailto:oasisoflife21@gmail.com"
                  ><i class="fa fa-envelope-o"></i>oasisoflife21@gmail.com</a
                >
              </li>
              <li>
                <a href="TEL:+ 243 970 658 398"><i class="fa fa-phone icon"></i> +243 970 658 398 </a>
              </li>
      
              <li>
                <a href="https://wa.me/243850742228"><i class="fab fa-whatsapp"></i> +243 850 742 228</a>
              </li>
              <li>
                <a href=""
                  ><i class="fas fa-map-marker-alt"></i>22, Av. du lac Q. Kyeshero/ Goma, DRC</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="col-right">
          <form action="" method="POST">
            {% csrf_token %}
            <div class="form-input half">
              {{form.full_name}}
              {{form.phone_number}}
            </div>
            <div class="form-input full">
              {{form.email}}
              {{form.message}}
            </div>
            <div class="form-input half">
              <a href="">
                <input
                class="form-control submit-btn submit-btn-green"
                type="submit"
                value="Envoyer le message"
              />
              </a>
            </div>
          </form>
        </div>
      </div>
    </section>

 {% endblock %}