{% extends 'base.html' %} {% load static %} {% block content %}

  <section class="header">
    <div class="container">
      <h1 class="page-title h-white">Counseling</h1>
    </div>
  </section>

  <section class="counsellin-page">
    <div class="container">
      <div class="col-left">
        <h1 class="h-green">Counselling program</h1>
        <hr />
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text
          ever since the 1500s, when an unknown printer took a galley of type
          and scrambled it to make a type specimen book.
        </p>
      </div>

      <div class="col-right"></div>
    </div>
  </section>

  <section class="contact bg-light-green">
    <div class="container">
      <div class="col-left">
        <h2 class="h-green">Get in touch with us</h2>
        <p>
          In publishing and graphic design, Lorem ipsum is a placeholder text
          commonly
        </p>
        <div class="contact-address">
          <h4>Contact Address</h4>
          <ul>
            <li>
              <a href="mailto:kjsexperiences@gmail.com"><i class="fa fa-envelope-o"></i> example@email.com</a>
            </li>
            <li>
              <a href=""><i class="fa fa-phone icon"></i> 0788375418 </a> /
              <a href="">0781218125</a>
            </li>
            <li>
              <a href=""><i class="fab fa-whatsapp"></i> 0781218125</a>
            </li>
            <li>
              <a href=""><i class="fas fa-map-marker-alt"></i> KN 2AV,268 Street</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-right">
        <form action="" method="POST">
          {% csrf_token %}
          <div class="form-input half">
            {{form.first_name}}
            {{form.last_name}}
            {{form.phone_number}}
            {{form.email}}
            <div>
              <p>When will you be available?</p>
              {{form.date}}
            </div>
          </div>
          <div class="form-input full">
            {{form.notes}}
          <div class="form-input half">
            <input class="form-control submit-btn submit-btn-green" type="submit" value="Send message" />
          </div>
        </form>
      </div>
    </div>
  </section>

 {% endblock %}