{% extends 'base.html' %} {% load static %} {% block content %}
<section class="header donate-header">
  <div class="container">
    <h1 class="page-title h-white">Faire un don</h1>
    <p>
      A oasis of life, nous dépendons de la générosité des autres pour faire avancer la mission. Votre soutien nous permet d'écrire, de conseiller, d’organiser nos conférences et ateliers et d'appuyer des actions en faveur des personnes dans les besoins là où le besoin est le plus criant. Merci pour votre générosité !
    </p>
  </div>
</section>

<section class="ways-to-give">
  <div class="container">
    <div class="col-left">
      <h1 class="h-green">Comment donner</h1>
      <div class="bank-transfer card">
        <div class="number">
          <p>1</p>
        </div>
        <div class="text">
          <h3 class="h-green">Transfert bancaire </h3>
          <p>
            Faites transférer votre don directement de votre compte bancaire ou utilisez votre cheque, notre option la plus économique.
          </p>
        </div>
      </div>

      <div class="mobile-money card">
        <div class="number">
          <p>2</p>
        </div>
        <div class="text">
          <h3 class="h-green">Argent mobile</h3>
          <p>
            Faites votre don par Mobil money, notre option de don la plus utilisée localement.
          </p>
        </div>
      </div>
    </div>

    <div class="col-right">
      <form action="" method="POST">
        {% csrf_token %}
        <div class="form-input full">
          <p>Comment donner:</p>

          <div class="multiple-inputs">{{form.ways_to_give}}</div>
        </div>

        <div class="form-input full">
          <p>Montant à donner:</p>
          <div class="multiple-inputs">{{form.amount_to_give}}</div>
        </div>
        <div class="form-input full">
          {{form.other_amount_to_give}}
        </div>
        <div class="form-input half">
          {{form.first_name}}
          {{form.last_name}}
          {{form.phone_number}}
          {{form.country}}
          {{form.email}}  
        </div>
        <div class="form-input full">
          {{form.message}}
        </div>
        <div class="form-input half">
          <input
            class="form-control submit-btn submit-btn-green"
            type="submit"
            value="Faire un don"
          />
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock %}
