{% extends 'base.html' %} {% load static %} {% block content %}

<section class="hero"></section>

<section class="introduction">
  <div class="container">
    <div class="col-left">
      <h1 class="heading h-green">
        Des individus transformés renouvellent la vie autour d'eux grâce à des actions transformatrices.
      </h1>
    </div>

    <div class="col-right">
      <p class="introduction-text">
        Oasis de vie travaille pour la restauration des vies dans une approche holistique pour qu’en retour ceux-ci soient des oasis de vie dans leur environnement immédiat. Nous croyons que Dieu veut que nous ayons une vie abondante et épanouie afin que nous et notre environnement en soyons bénéficiaires.
      </p>

      <a href="{% url 'conseils' %}">
        <button class="green-button btn-green">Réserver une séance</button>
      </a>
    </div>
  </div>
</section>

<section class="about-section">
  <div class="container">
    <div class="col-left">
      <h2 class="h-white">A propos de nous </h2>
      <p>
        Nous nous appelons oasis de vie parce que nous avons à cœur de soutenir et d’aider ceux qui traversent non seulement des temps de déserts et de larmes dans leur vie mais aussi de plénitude (spirituelle, psychologique, relationnelle, social…) à en faire des oasis de vie à la lumière de la parole de Dieu.
      </p>
      <a href="{% url 'nous-connaitre' %}"
        ><button class="btn-white">Learn more</button></a
      >
    </div>

    <div class="col-right">
      <img src="{% static '/img/event-backgroud.jpg' %}" alt="" />
    </div>
  </div>
</section>

<section class="projects-section">
  <div class="container">
    <h2 class="h-white">Nos Programme </h2>
    <div class="projects-cards">
      {% for projet in projects %}
          <div class="card">
            <img src="{{projet.featured_image.url}}" alt="" />
            <div class="resource-content">
              <h4 class="title">{{projet.title}}</h4>
              <p>{{projet.details|slice:120}}...</p>
              <a href="{{projet.get_absolute_url}}">Read more</a>
            </div>
          </div>
      {% endfor %} 
    </div>
  </div>
</section>

<section class="counselling">
  <div class="container">
    <div class="col-left">
      <h2 class="h-green">Conseils</h2>
      <p>
        Si Dieu nous a donné tout ce dont nous avons besoin pour la vie et la piété (2 Pierre 1 :3), il est certain que sa Parole a quelque chose de significatif et de vivifiant à dire quand nous souffrons et luttons. Le counseling biblique est une prise en charge significative et vivifiante auprès des âmes blessées et troublées. Pratiquer par nos counselors, ils soutiennent et accompagnent les personnes qui luttent et souffrent. 
      </p>
      <a href="{% url 'conseils' %}#book">
        <button class="btn-green">Réserver une séance</button>
      </a>
    </div>

    <div class="col-right">
      <img src="{% static '/img/event-backgroud.jpg' %}" alt="" />
    </div>
  </div>
</section>

<section class="resources">
  <div class="container">
    <div class="col-left">
      <h2 class="h-white">Our Resources</h2>
      <div class="resources-cards">
        <div class="card">
          <div class="recource-icon"><i class="fa fa-file-audio-o"></i></div>
          <div class="resource-content">
            <h4 class="resource-title">Podcasts</h4>
            <p class="recource-text">
              Développez une perspective biblique aux complexités actuelles
            </p>
          </div>
        </div>

        <div class="card">
          <div class="recource-icon"><i class="fas fa-cloud-moon"></i></div>
          <div class="resource-content">
            <h4 class="resource-title">Vie spirituelle </h4>
            <p class="recource-text">
              Grandissez en confiance dans votre identité 
            </p>
          </div>
        </div>

        <div class="card">
          <div class="recource-icon"><i class="fas fa-cloud-sun"></i></div>
          <div class="resource-content">
            <h4 class="resource-title">Vie courante </h4>
            <p class="recource-text">
              Abordez votre quotidien dans la paix et la sérénité
            </p>
          </div>
        </div>

        <div class="card">
          <div class="recource-icon"><i class="fa fa-group"></i></div>
          <div class="resource-content">
            <h4 class="resource-title">Bonheur Familiale</h4>
            <p class="recource-text">
              Développez de relations constructives et épanouissantes
            </p>
          </div>
        </div>

        <div class="card">
          <div class="recource-icon"><i class="far fa-smile-wink"></i></div>
          <div class="resource-content">
            <h4 class="resource-title">Jeunesse </h4>
            <p class="recource-text">
              vivez une jeunesse passionnante et significative
            </p>
          </div>
        </div>

        <div class="card">
          <div class="recource-icon"><i class="fas fa-music"></i></div>
          <div class="resource-content">
            <h4 class="resource-title">Prières et musiques vivifiantes </h4>
            <p class="recource-text">
              Dans le silence et le repos soyez vivifiés
            </p>
          </div>
        </div>

        <div class="card">
          <div class="recource-icon"><i class="fas fa-book-medical"></i></div>
          <div class="resource-content">
            <h4 class="resource-title">Livres </h4>
            <p class="recource-text">
              Découvrez un trésor de sagesse et vérités fondamentales de la vie
            </p>
          </div>
        </div>
      </div>
      <a href="{% url 'resources' %}">
        <button class="btn-white">abonnez-vous à notre liste de diffusion</button>
      </a>
    </div>

    <div class="col-right"></div>
  </div>
</section>

<section class="events">
  <div class="container">
    <h2 class="h-green">Evenements </h2>
    <p class="events-description">
      Nos évènements sont occasions unique où les gens bénéficient d’un enseignement solide sur des sujets importants en matière du bien-être et de vie abondante.
    </p>

    <div class="events-cards">
      {% for event in events %}
      <div class="card">
        <img src="{{event.featured_image.url}}" alt="" />
        <div class="event-content">
          <h4 class="title">{{event.title}}</h4>
          <p class="date"><span>Date: </span> {{event.date}}</p>
          <p class="location"><span>Location</span> {{event.location}}</p>
          <a href="{{event.get_absolute_url}}">Read more</a>
        </div>
      </div>

      {% endfor %}
      </div>
    </div>
  </div>
</section>

<section class="call-to-action">
  <div class="container">
    <div class="col-left">
      <p>
        Désirez-vous en savoir plus sur Oasis de vie ? Inscrivez-vous ici pour recevoir les lettres du ministère.
      </p>
    </div>
    <div class="col-right">
      <form action="" method="POST">
        {% csrf_token %}
        <div class="form-input full">
          {{sub_form.name}}
          {{sub_form.email}}
        </div>
        <div class="form-input half">
          <input
            class="form-control submit-btn submit-btn-white"
            type="submit"
            value="S'abonner"
          />
        </div>
      </form>
    </div>
  </div>
</section>

<section class="contact">
  <div class="container">
    <div class="col-left">
      <h2 class="h-green">Prenez contact avec nous</h2>
      <p>
        Nous nous ferons un Plaisir de vous écouter
      </p>
      <div class="contact-address">
        <h4>Adresse de contact</h4>
        <ul>
          <li>
            <a href="mailto:oasisoflife21@gmail.com"
              ><i class="fa fa-envelope-o"></i>oasisoflife21@gmail.com</a
            >
          </li>
          <li>
            <a href="TEL:+ 243 970 658 398"><i class="fa fa-phone icon"></i> +243 970 658 398 </a>
          </li>
  
          <li>
            <a href="https://wa.me/243850742228"><i class="fab fa-whatsapp"></i> +243 850 742 228</a>
          </li>
          <li>
            <a href=""
              ><i class="fas fa-map-marker-alt"></i>22, Av. du lac Q. Kyeshero/ Goma, DRC</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="col-right">
      <form action="" method="POST">
        {% csrf_token %}
        <div class="form-input half">
          {{form.full_name}}
          {{form.phone_number}}
        </div>
        <div class="form-input full">
          {{form.email}}
          {{form.message}}
        </div>
        <div class="form-input half">
          <a href="">
            <input
            class="form-control submit-btn submit-btn-green"
            type="submit"
            value="Envoyer le message"
          />
          </a>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock %}
