{% extends 'base.html' %} {% load static %} {% block content %}

<section class="hero"></section>

<section class="introduction">
  <div class="container">
    <div class="col-left">
      <h1 class="heading h-green">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry.
      </h1>
    </div>

    <div class="col-right">
      <p class="introduction-text">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book.
      </p>

      <a href="{% url 'contact' %}">
        <button class="green-button btn-green">Book a session</button>
      </a>
    </div>
  </div>
</section>

<section class="about-section">
  <div class="container">
    <div class="col-left">
      <h2 class="h-white">About Us</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora ut
        omnis magni tempore aspernatur enim maiores quis reiciendis aliquid
        ipsum molestiae officia tenetur earum optio, facere dicta eos nostrum
        fugit!
      </p>
      <a href="{% url 'about' %}"
        ><button class="btn-white">Learn more</button></a
      >
    </div>

    <div class="col-right">
      <img src="{% static '/img/event-backgroud.jpg' %}" alt="" />
    </div>
  </div>
</section>

<section class="activities">
  <div class="container">
    <h2 class="h-white">Our Activities</h2>
    <div class="activities-cards">
      <div class="card">
        <h3 class="title">Lorem ipsum</h3>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry
        </p>
        <a href="{% url 'projects' %}">Learn more</a>
      </div>

      <div class="card">
        <h3 class="title">Lorem ipsum</h3>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry
        </p>
        <a href="">Learn more</a>
      </div>

      <div class="card">
        <h3 class="title">Lorem ipsum</h3>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry
        </p>
        <a href="">Learn more</a>
      </div>

      <div class="card">
        <h3 class="title">Lorem ipsum</h3>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry
        </p>
        <a href="">Learn more</a>
      </div>
    </div>
  </div>
</section>

<section class="counselling">
  <div class="container">
    <div class="col-left">
      <h2 class="h-green">Counseling</h2>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five
        centuries, but also the leap into electronic typesetting, remaining
        essentially unchanged.
      </p>
      <a href="{% url 'counselling' %}">
        <button class="btn-green">Book a session</button>
      </a>
    </div>

    <div class="col-right">
      <img src="{% static '/img/event-backgroud.jpg' %}" alt="" />
    </div>
  </div>
</section>

<section class="resources">
  <div class="container">
    <div class="col-left">
      <h2 class="h-white">Our Resources</h2>
      <div class="resources-cards">
        <div class="card">
          <div class="recource-icon"><i class="fa fa-file-audio-o"></i></div>
          <div class="resource-content">
            <h4 class="resource-title">Podcasts</h4>
            <p class="recource-text">
              Listen to our entire library of podcast for free
            </p>
          </div>
        </div>

        <div class="card">
          <div class="recource-icon"><i class="fas fa-cloud-moon"></i></div>
          <div class="resource-content">
            <h4 class="resource-title">Spiritual Life</h4>
            <p class="recource-text">
              Listen to our entire library of podcast for free
            </p>
          </div>
        </div>

        <div class="card">
          <div class="recource-icon"><i class="fas fa-cloud-sun"></i></div>
          <div class="resource-content">
            <h4 class="resource-title">Everyday Life</h4>
            <p class="recource-text">
              Listen to our entire library of podcast for free
            </p>
          </div>
        </div>

        <div class="card">
          <div class="recource-icon"><i class="fa fa-group"></i></div>
          <div class="resource-content">
            <h4 class="resource-title">Family</h4>
            <p class="recource-text">
              Listen to our entire library of podcast for free
            </p>
          </div>
        </div>

        <div class="card">
          <div class="recource-icon"><i class="far fa-smile-wink"></i></div>
          <div class="resource-content">
            <h4 class="resource-title">Youth</h4>
            <p class="recource-text">
              Listen to our entire library of podcast for free
            </p>
          </div>
        </div>

        <div class="card">
          <div class="recource-icon"><i class="fas fa-music"></i></div>
          <div class="resource-content">
            <h4 class="resource-title">Relaxing music</h4>
            <p class="recource-text">
              Listen to our entire library of podcast for free
            </p>
          </div>
        </div>

        <div class="card">
          <div class="recource-icon"><i class="fas fa-book-medical"></i></div>
          <div class="resource-content">
            <h4 class="resource-title">Books</h4>
            <p class="recource-text">
              Listen to our entire library of podcast for free
            </p>
          </div>
        </div>
      </div>
      <a href="{% url 'resources' %}">
        <button class="btn-white">Resources</button>
      </a>
    </div>

    <div class="col-right"></div>
  </div>
</section>

<section class="events">
  <div class="container">
    <h2 class="h-green">Events</h2>
    <p class="events-description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, ullam
      asperiores aperiam possimus qui quia molestias veniam ratione corporis
      tempore amet provident veritatis velit minus sed alias obcaecati impedit
      error.
    </p>

    <div class="events-cards">
      <div class="card">
        <img src="{% static '/img/event-backgroud.jpg' %}" alt="" />
        <div class="event-content">
          <h4 class="title">Event title for some insights</h4>
          <p class="date"><span>Date</span> 12/03/2022</p>
          <p class="location"><span>Location</span> DRC, Congo</p>
        </div>
      </div>

      <div class="card">
        <img src="{% static '/img/event-backgroud.jpg' %}" alt="" />
        <div class="event-content">
          <h4 class="title">Event title for some insights</h4>
          <p class="date"><span>Date</span> 12/03/2022</p>
          <p class="location"><span>Location</span> DRC, Congo</p>
        </div>
      </div>

      <div class="card">
        <img src="{% static '/img/event-backgroud.jpg' %}" alt="" />
        <div class="event-content">
          <h4 class="title">Event title for some insights</h4>
          <p class="date"><span>Date</span> 12/03/2022</p>
          <p class="location"><span>Location</span> DRC, Congo</p>
        </div>
      </div>

      <div class="card">
        <img src="{% static '/img/event-backgroud.jpg' %}" alt="" />
        <div class="event-content">
          <h4 class="title">Event title for some insights</h4>
          <p class="date"><span>Date</span> 12/03/2022</p>
          <p class="location"><span>Location</span> DRC, Congo</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="call-to-action">
  <div class="container">
    <div class="col-left">
      <p>
        Subscribe to our newsletter Lorem Ipsum is simply dummy text of the
        printing and typesetting industry.
      </p>
    </div>
    <div class="col-right">
      <form action="" method="POST">
        {% csrf_token %}
        <div class="form-input full">
          {{sub_form.name}}
          {{sub_form.email}}
        </div>
        <div class="form-input half">
          <input
            class="form-control submit-btn submit-btn-white"
            type="submit"
            value="Subscribe"
          />
        </div>
      </form>
    </div>
  </div>
</section>

<section class="contact">
  <div class="container">
    <div class="col-left">
      <h2 class="h-green">Get in touch with us</h2>
      <p>
        In publishing and graphic design, Lorem ipsum is a placeholder text
        commonly
      </p>
      <div class="contact-address">
        <h4>Contact Address</h4>
        <ul>
          <li>
            <a href="mailto:kjsexperiences@gmail.com"
              ><i class="fa fa-envelope-o"></i> example@email.com</a
            >
          </li>
          <li>
            <a href=""><i class="fa fa-phone icon"></i> 0788375418 </a> /
            <a href="">0781218125</a>
          </li>
          <li>
            <a href=""><i class="fab fa-whatsapp"></i> 0781218125</a>
          </li>
          <li>
            <a href=""
              ><i class="fas fa-map-marker-alt"></i> KN 2AV,268 Street</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="col-right">
      <form action="" method="POST">
        {% csrf_token %}
        <div class="form-input half">
          {{form.full_name}}
          {{form.phone_number}}
        </div>
        <div class="form-input full">
          {{form.email}}
          {{form.message}}
        </div>
        <div class="form-input half">
          <a href="">
            <input
            class="form-control submit-btn submit-btn-green"
            type="submit"
            value="Send message"
          />
          </a>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock %}
