{% extends 'base.html' %} {% load static %} {% block content %}
    <section class="header">
      <div class="container">
        <h1 class="page-title h-white">Projects</h1>
      </div>
    </section>

    <section class="projects-section section-white">
      <div class="container">
        <p>
          Les catastrophes humaines de plus en plus fréquentes font souffrir des milliers de personnes et des populations vulnérables sont de plus en plus nombreux.  Nous agissons en tant qu’une oasis de vie dans le désert là où le besoin est le plus criant en venant en aide à ceux qui en ont besoin. Familiarisez-vous avec nos projets 
        </p>
        <div class="projects-cards">
          {% for project in projects %}
          <div class="card">
            <img src="{{project.featured_image.url}}" alt="" />
            <div class="resource-content">
              <h4 class="title">{{project.title}}</h4>
              <p>{{project.details|slice:120}}...</p>
              <a href="">Read more</a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>

{% endblock %}