{% extends 'base.html' %} {% load static %} {% block content %}
    <section class="header">
      <div class="container">
        <h1 class="page-title h-white">Projects</h1>
      </div>
    </section>

    <section class="resources-section">
      <div class="container">

        <div class="resources-cards">
          <div class="card">
            <img src="/img/event-backgroud.jpg" alt="" />
            <div class="resource-content">
              <h4 class="title">Project title</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
              <a href="">Read more</a>
            </div>
          </div>

          <div class="card">
            <img src="/img/event-backgroud.jpg" alt="" />
            <div class="resource-content">
              <h4 class="title">Project title</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
              <a href="">Read more</a>
            </div>
          </div>

          <div class="card">
            <img src="/img/event-backgroud.jpg" alt="" />
            <div class="resource-content">
              <h4 class="title">Project title</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
              <a href="">Read more</a>
            </div>
          </div>

          <div class="card">
            <img src="/img/event-backgroud.jpg" alt="" />
            <div class="resource-content">
              <h4 class="title">Project title</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
              <a href="">Read more</a>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}